@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/GothamPro-Bold.ttf');
  }

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
}

.header_main {
    position: relative;
    height: 80px;
}

.container__hamburger {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #5C6266;
}

.container__hamburger span,
.container__hamburger span::before,
.container__hamburger span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    height: 2px;
    width: 20px;
    background-color: #fff;
    margin-bottom: 4px;
}

.container__hamburger span::before,
.container__hamburger span::after {
    content: '';
}

.container__hamburger span::before {
    transform: translateY(-6px);
}

.container__hamburger span::after {
    transform: translateY(6px);
}


.container__logo {
    position: absolute;
    height: 80px;
    width: 135px;
    left: 102px;
    top: 13px;
    color: #fff;
}

 .container__menu_link--1 {
    position: absolute;
    width: 75px;
    height: 19px;
    left: 320px;
    top: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.container__menu_link--1:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
}

.container__menu_link--2 {
    position: absolute;
    width: 160px;
    height: 22px;
    left: 460px;
    top: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.container__menu_link--2:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
}

.container__menu_link--3 {
    position: absolute;
    width: 71px;
    height: 16px;
    left: 672px;
    top: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.container__menu_link--3:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
}

.container__menu_phone--1 {
    position: absolute;
    width: 182px;
    height: 16px;
    left: 1456px;
    top: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.container__menu_phone--1:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
}

.container__menu_phone--2 {
    position: absolute;
    width: 182px;
    height: 16px;
    left: 1686px;
    top: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.container__menu_phone--2:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
}



.promo {
    height: 1080px;
    width: 1920px;
    background: url('../img/bg_promo.png') center center/cover no-repeat;
}

.promo__container_title {
    position: absolute;
    width: 1091px;
    height: 134px;
    left: 160px;
    top: 399px;
}

.promo__container_descr {
    position: absolute;
    width: 1100px;
    height: 103px;
    left: 160px;
    top: 573px;
}

.promo__container_title_text {
    font-weight: bold;
    font-size: 96px;
    line-height: 140%;
    color: #FFFFFF;
}

.promo__container_title_text_yellow {
    color: #FFCB05;
}

.promo__container_descr {
    font-weight: normal;
    font-size: 25px;
    line-height: 204.27%;
    color: #FFFFFF;
}

.promo__container_line-1 {
    position: absolute;
    width: 80px;
    height: 2px;
    left: 1786px;
    top: 505px;
    background: #FFCB05;
}

.promo__container_line-2 {
    position: absolute;
    width: 40px;
    height: 2px;
    left: 1826px;
    top: 529px;
    background: #FFFFFF;
}

.promo__container_line-3 {
    position: absolute;
    width: 40px;
    height: 2px;
    left: 1826px;
    top: 551px;
    background: #FFFFFF;
}

.promo__container_line-4 {
    position: absolute;
    width: 40px;
    height: 2px;
    left: 1826px;
    top: 573px;
    background: #FFFFFF;
}

.header_about-us {
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 1080px;
}

.container__menu_link--1_black {
    position: absolute;
    width: 75px;
    height: 19px;
    left: 320px;
    top: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #5C6266;
}

.container__menu_link--1_black:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
}

.container__menu_link--2_black {
    position: absolute;
    width: 160px;
    height: 22px;
    left: 460px;
    top: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #5C6266;
}

.container__menu_link--2_black:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
}

.container__menu_link--3_black {
    position: absolute;
    width: 71px;
    height: 16px;
    left: 672px;
    top: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #5C6266;
}

.container__menu_link--3_black:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
}

.container__menu_phone--1_black {
    position: absolute;
    width: 182px;
    height: 16px;
    left: 1456px;
    top: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #5C6266;
}

.container__menu_phone--1_black:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
}

.container__menu_phone--2_black {
    position: absolute;
    width: 182px;
    height: 16px;
    left: 1686px;
    top: 32px;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #5C6266;
}

.container__menu_phone--2_black:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
}

.container__about-us {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 160px;
    top: 1204px;
}

.container__about-us-text {
    position: absolute;
    width: 1280px;
    height: 110px;
    left: 320px;
    top: 1296px;
    font-size: 25px;
    line-height: 204.27%;
    color: #101010;
}

.container__about-us-learn {
    position: absolute;
    width: 108px;
    height: 15px;
    left: 320px;
    top: 1445px;
}

.container__about-us-learn_link {
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.container__products-1 {
    position: absolute;
    width: 642px;
    height: 760px;
    left: 0px;
    top: 1624px;
    background: #000000;
}

.container__products-1_img-1 {
    width: 1174px;
    height: 430px;
    padding-left: 210px;
}

.container__products-1_title {
    position: absolute;
    width: 400px;
    height: 43px;
    left: 61px;
    top: 60px;
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}

.container__products-1_item {
    position: absolute;
    width: 320px;
    height: 110px;
    left: 91px;
    top: 152px;
}

.container__products-1_text {
    font-size: 12px;
    line-height: 180%;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 43px;
}

.container__products-1_text:hover {
    border-bottom: 1px solid #fff;
}

.container__products-1_yellow-line {
    position: absolute;
    width: 420px;
    height: 2px;
    left: 0px;
    top: 684px;
    background: #FFCB05;
}

.container__products-1-learn {
    position: absolute;
    width: 108px;
    height: 15px;
    left: 60px;
    top: 714px;
}

.container__products-1-learn_link {
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container__products-2 {
    position: absolute;
    width: 642px;
    height: 760px;
    left: 640px;
    top: 1624px;
    background: #000000;
}

.container__products-2_img-2 {
    padding-left: 235px;
}

.container__products-2_title {
    position: absolute;
    width: 360px;
    height: 43px;
    left: 75px;
    top: 60px;
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}

.container__products-3 {
    position: absolute;
    width: 638px;
    height: 760px;
    left: 1282px;
    top: 1624px;
    background: #000000;
}

.container__products-3_img-3 {
    height: 760px;
}

.container__products-3_title {
    position: absolute;
    width: 320px;
    height: 129px;
    left: 47px;
    top: 60px;
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}