@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
            url('../fonts/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
            url('../fonts/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/GothamPro-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* NAV MENU */
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    color: #fff;
    z-index: 10;
}

.header__absolute {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    animation: header 4s;
}

@keyframes header {
    0% {
        transform: translateY(-100%);
    }        
    100% {
        transform: translateY(0%);
    }       
}

.header_fixed {
    position: fixed;
    top:0;
    width: 100%;
    background: #fff;
    opacity: 1;
    transition: 1s;
    color: #5C6266;
}

.header_hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: inherit;
}

.header__menu-item {
    display: flex;
    align-items: center;
    color: inherit;
}

.header__menu-hamburger {
    width: 80px;
    height: 80px;
    background: #5C6266;
    cursor: pointer;
}

.hamburger__line {
    position:relative;
    top: 30px;
    left: 30px;
    height: 2px;
    width: 20px;
    background-color: #fff;
}

.hamburger__line-top {
    margin-bottom: 4px;
}

.hamburger__line-bottom {
    margin-top: 4px;
}

.header__logo {
    margin: 0 100px 0 20px;
}

.logo {
    height: 100%;
    width: 100%;
}

.header__nav {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    color: inherit;
}

.nav__link {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: inherit;
    margin-right: 65px;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid transparent;
}

.nav__link:hover {
    border-bottom: 4px solid #FFCB05;
    transition: 1s;
}

.header__phone {
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    margin-right: 55px;
}

.header__phone_span {
    font-weight: 400;
}

/* MAIN PAGE */
.promo {
    height: 1080px;
    width: 100%;
    position: relative;
}

.promo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1080px;  
}

.promo__bg {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper__bg {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background:#000;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    margin-bottom: 22px !important;
    width: 40px;
    height: 4px;
    opacity: 1;
    background: #FFFFFF;
}

.swiper-pagination-bullet-active {
    width: 80px;
    height: 4px;
    background: #FFCB05;
}

.swiper-text_position {
    position: absolute;
    left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper__title-h1 {
    color: #ffffff;
    font-size: 96px;
    line-height: 140%;
    opacity: 0;
    animation: title 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes title {
    from {
        opacity: 0;
    }  
    to {
        opacity: 1;
    }   
}

.swiper__title-h1 span {
    color: #FFCB05;
}

.swiper__title {
    color: #ffffff;
    font-weight: bold;
    font-size: 96px;
    opacity: 0;
    animation: title 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.swiper__title span{
    background-color: rgba(0,0,0, 0.2)
}

.swiper__descr {
    color: #ffffff;
    font-weight: normal;
    font-size: 25px;
    margin-top: 40px;
    opacity: 0;
    animation: descr 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes descr {
from {
    opacity: 0;
    transform: translateY(-100%);
}  
to {
    opacity: 1;
    transform: translateY(0%);
}   
}

.swiper__descr span{
    background-color: rgba(0,0,0, 0.3)
}


/* Animate circle */
.promo__circle-1 {
    position: absolute;
    width: 360px;
    height: 360px;
    left: 18px;
    top: 320px;
    opacity: 0.3;
    border: 1px solid #FFCE35;
    border-radius: 100%;
    animation: circle-1 4s;
}

@keyframes circle-1 {
    from {
        position: absolute;
        left: 160px;
        top: 480px;
        width: 0px;
        height: 0px;
    }
    to {
        width: 360px;
        height: 360px;
    }
}

.promo__circle-2 {
    position: absolute;
    width: 604px;
    height: 604px;
    left: -104px;
    top: 197px;
    border: 1px solid #FFCE35;
    border-radius: 100%;
    animation: circle-2 4s;
}

@keyframes circle-2 {
    from {
        position: absolute;
        left: 160px;
        top: 480px;
        width: 0px;
        height: 0px;
    }
    to {
        width: 604px;
        height: 604px;
    }
}

.promo__circle-3 {
    position: absolute;
    width: 1786px;
    height: 1786px;
    left: -695px;
    top: -394px;
    border: 1px solid #FFCE35;
    border-radius: 100%;
    animation: circle-3 4s;
}

@keyframes circle-3 {
    from {
        position: absolute;
        left: 160px;
        top: 480px;
        width: 0px;
        height: 0px;
    }
    to {
        width: 1786px;
        height: 1786px;
    }
}


.promo__circle-4 {
    position: absolute;
    width: 2370px;
    height: 2370px;
    left: -987px;
    top: -686px;
    opacity: 0.5;
    border: 1px solid #FFCE35;
    border-radius: 100%;
    animation: circle-4 4s;
}

@keyframes circle-4 {
    from {
        position: absolute;
        left: 160px;
        top: 480px;
        width: 0px;
        height: 0px;
    }
    to {
        width: 2370px;
        height: 2370px;
    }
}

/* ABOUT_US */
.about-us {
    width: 100%;
    height: 545px;
    background-color: white;
}

.about-us__title {
    margin-top: 124px;
    margin-left: 160px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.about-us__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 25px;
    line-height: 205%;
    color: #101010;
}

.about-us__learn {
    margin-top: 39px;
    margin-left: 10vw;
}

.about-us__learn_link {
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.about-us__learn_link_icon {
    padding-left: 20px;
}

/* PRODUCTS & SERVICES */
.container__products {
    display: flex;
    justify-content: space-between;
}

.container__products_block {
    position: relative;
    height: 760px;
    width: 100%;
    background: #000000;
    overflow: hidden;
}

.container__products_img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition: opacity 1s linear,
                transform 3s ease-in-out;
}

.container__products_title {
    position: absolute;
    top: 60px;
    left: 60px;
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}

.container__products_item {
    position: absolute;
    top: 50px;
    left: 90px;
    opacity: 1;
    transform: translateY(100%);
}

.container__products_text {
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 45px;
    opacity: 0;
    transition: 1s;
}

.container__products_text:hover {
    border-bottom: 1px solid #FFF;
    padding-bottom: 5px;
}

.container__products_text_line {
    margin-right: 20px;
}

.container__products_yellow-line {
    position: absolute;
    width: 420px;
    height: 2px;
    left: 0px;
    top: 684px;
    background: #FFCB05;
    opacity: 0;
}

.container__products-learn {
    position: absolute;
    width: 108px;
    height: 15px;
    left: 60px;
    top: 714px;
    opacity: 0;
    transition: 1s;
    transform: translateX(-100%);
}

.container__products-learn_link {
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 1s;
}

.container__products-learn_link_icon {
    padding-left: 20px;
    transition: 1s;
}

.container__products_block:hover  .container__products_text,
.container__products_block:hover  .container__products_yellow-line,
.container__products_block:hover  .container__products-learn {
    opacity: 1;
    transform: translateX(0%);
    transform: translateY(0%);
}

.require {
    height: 1135px;
    width: 100%;
    position: relative;
}

.require__bg {
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.require__line {
    height: 2px;
    width: 60vw;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.require__block {
    display: flex;

    columns: 2 30vw;
    border: 4px solid #000;
}

.require__title {
    position: absolute;
}