@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
            url('../fonts/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
            url('../fonts/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/GothamPro-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header_absolute {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.container {
    width: 1920px;
}

.container__menu {
    display: flex;
    flex-wrap: wrap;
}

.container__menu_grey {
    display: none;
}
.container__hamburger {
    margin-right: 22px;
    height: 80px;
    width: 80px;
    background: #5C6266;
}

.hamburger__line {
    position:relative;
    top: 30px;
    left: 30px;
    height: 2px;
    width: 20px;
    background-color: #fff;
}

.hamburger__line-middle {
    margin-top: 4px;
}

.hamburger__line-bottom {
    margin-top: 4px;
}

.container__logo {
    margin-right: 100px;
    margin-top: 13px;
    color: #fff;
}

.container__menu_nav {
    width: 1100px;
}

.container__menu_item {
    margin-top: 30px;
    margin-right: 65px;
}

.container__menu_item-link {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.container__menu_item-link_grey {
    color: #5C6266;
}

.container__menu_item-link:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
    transition: 1s;
}

.container__menu_phone {
    margin-right: 65px;
    margin-top: 30px;
}

.container__menu_phone-link {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.container__menu_phone-link_grey {
    color: #5C6266;
}

.container__menu_phone-link:hover {
    border-bottom: 4px solid #FFCB05;
    padding-bottom: 22px;
    transition: 1s;
}

.container__menu_phone_span {
    font-weight: 400;
}

.promo {
    height: 1080px;
    width: 1940px;
    background: url('../img/bg_promo.png') center center/cover no-repeat;
    background-color: #262626;
    
}

.promo__container_title {
    border: 399px, 0 , 0, 160px;
    position: absolute;
    width: 1091px;
    height: 134px;
    left: 160px;
    top: 399px;
    z-index: 1;
}

.promo__container_title_text {
    font-weight: bold;
    font-size: 96px;
    line-height: 140%;
    color: #FFFFFF;
}

.promo__container_title_text_yellow {
    color: #FFCB05;
}

.promo__container_descr {
    position: absolute;
    width: 1100px;
    height: 103px;
    left: 160px;
    top: 573px;
    z-index: 1;
}

.promo__container_descr {
    font-weight: normal;
    font-size: 25px;
    line-height: 205%;
    color: #FFFFFF;
}

.promo__container_line-1 {
    position: absolute;
    width: 80px;
    height: 2px;
    left: 1786px;
    top: 505px;
    background: #FFCB05;
}

.promo__container_line-2 {
    position: absolute;
    width: 40px;
    height: 2px;
    left: 1826px;
    top: 529px;
    background: #FFFFFF;
}

.promo__container_line-3 {
    position: absolute;
    width: 40px;
    height: 2px;
    left: 1826px;
    top: 551px;
    background: #FFFFFF;
}

.promo__container_line-4 {
    position: absolute;
    width: 40px;
    height: 2px;
    left: 1826px;
    top: 573px;
    background: #FFFFFF;
}

/* Animate circle */
.promo__container_circle-1 {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 18px;
    top: 319px;
    opacity: 0.3;
    border: 1px solid #FFCE35;
    border-radius: 100%;
    transition: 1s all 1s;
}

.promo__container_circle-1_big {
    display: none;
    position: absolute;
    width: 360px;
    height: 360px;
    left: 18px;
    top: 319px;
    opacity: 0.3;
    border: 1px solid #FFCE35;
    border-radius: 100%;
}

.promo__container_circle-2 {
    position: absolute;
    width: 604px;
    height: 604px;
    left: -104px;
    top: 197px;
    border: 1px solid #FFCE35;
    border-radius: 100%;
}

.promo__container_circle-3 {
    position: absolute;
    width: 1786px;
    height: 1786px;
    left: -695px;
    top: -394px;
    border: 1px solid #FFCE35;
    border-radius: 100%;

}

.promo__container_circle-4 {
    position: absolute;
    width: 2370px;
    height: 2370px;
    left: -987px;
    top: -686px;
    opacity: 0.5;
    border: 1px solid #FFCE35;
    border-radius: 100%;
}

.container__about-us {
    position: relative;
    height: 545px;
    background-color: white;
    z-index: 5;
}

.container__about-us_title {
    position: absolute;
    width: 480px;
    height: 50px;
    left: 160px;
    top: 124px;
}

.container__about-us-text {
    position: absolute;
    width: 1280px;
    height: 110px;
    left: 320px;
    top: 216px;
    font-size: 25px;
    line-height: 204.27%;
    color: #101010;
}

.container__about-us-learn {
    position: absolute;
    width: 108px;
    height: 15px;
    left: 320px;
    top: 365px;
}

.container__about-us-learn_link {
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.container__about-us-learn_link_icon {
    padding-left: 20px;
}

.container__products {
    display: flex;
    justify-content: space-between;
}

.container__products_block {
    position: relative;
    height: 760px;
    width: 640px;
    background: #000000;
}

.container__products-1_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.container__products-1_title {
    position: absolute;
    top: 60px;
    left: 60px;
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}

.container__products-1_item {
    position: absolute;
    top: 160px;
    left: 70px;
}

.container__products_text {
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 45px;
}

.container__products_text_line {
    margin-right: 20px;
}

.container__products_yellow-line {
    position: absolute;
    width: 420px;
    height: 2px;
    left: 0px;
    top: 684px;
    background: #FFCB05;
}

.container__products-learn {
    position: absolute;
    width: 108px;
    height: 15px;
    left: 60px;
    top: 714px;
}

.container__products-1-learn_link {
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container__products-1-learn_link_icon {
    padding-left: 20px;
}

.container__products-2_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.container__products-2_title {
    position: absolute;
    top: 60px;
    left: 60px;
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}

.container__products-3_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.container__products-3_title {
    position: absolute;
    top: 60px;
    left: 60px;
    font-family: 'Gotham Pro';
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #FFFFFF;
}
